p{
    text-align: justify;
    padding: 15px;
    color: black;
    font-size: 12pt;
    line-height: 1.6;
}

h2{
    text-align: justify;
    padding-left: 15px;
    color: black;
    font-weight: bolder;
}

b{
    color: #3880ff;
}

