<ion-header>
  <ion-toolbar>
    <ion-title>tab3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="tutorial">
    <div>
      <h2>Sobre</h2>
      <p>
        O Aplicativo <b>Minha Despensa</b> te ajuda a organizar as compras,
        criando uma lista de produtos que você geralmente consome em seu lar!
      </p>
    </div>
    <div>
      <h2>Como funciona</h2>
      <p>
        É mutio simples!<br><br>

        Na aba <b>Despensa</b> você criará a lista,
        usando o formulário na parte superior da aba. 
        Complete as informações e clique no botão <b>+</b> para criar um novo item na lista.<br>

        A <u>Qtde Ideal</u> será a quantidade do produto que voce geralmente mantem em sua despensa,
        já a <u>Qtde Atual</u> será a o quanto você tem desse produto em sua despensa nesse momento.
      </p>
      <p>
        Depois da lista criada com as quantidades, basta clicar em <b>Gerar lista de compras</b>, 
        ou ir ate aba <b>Lista de Compras</b>. Lá estará a lista dos produtos com a quantiade que você precisa comprar,
        baseados na diferença entre a <u>Qtde Ideal</u> e <u>Qtde Atual</u>.
      </p>
      <p>
        Agora que você ja possui uma lista de produtos na despensa, 
        na proxima vez que precisar ir as compras não precisa fazer uma nova lista,
        basta alterar a quantidade atual dos produtos e ir em <b>Lista de Compras</b>, a lista estará atualizada!
      </p>

      <p>
        Ah! em <b>Lista de Compras</b>, você pode compartilhar a lista com um contato de whatsApp,
        caso a pessoa que vai no mercado não possua a lista de compras no proprio dispositivo, por exemplo.
      </p>

      
        <p>Aproveite o App e boas compras!</p>
      
    </div>

  </ion-card>

</ion-content>
